<section id="create-container">
    <div class="create-container-info">
        <h1>Create Song</h1>
        <form>
            <label>Title:</label>
            <input name="title" type="text" id="title" value="">
            <label>Author:</label>
            <input name="author" type="text" id="author" value="">
            <label>Cover image:</label>
            <input name="image" type="text" id="image" placeholder="http://..." value=""> 
            <label>Mood:</label>
            <input name="mood" type="text" id="mood" value="">
            <input type="submit" id="btn">
        </form>
    </div>
</section>
