<div class="welcome-msg">
  <h1>Welcome to the catalog!</h1>
  <p>Browse through all songs or filter them by your current mood.</p>
  <div class="controls">
    <label for="createSong"
      >Don't find what you are looking for? Help us grow our catalog by creating
      a song and submitting it to our database.
    </label>
    <a id="createSong" href="/catalog/create">Add song</a>
  </div>
</div>
<section class="filter">
    <div class="search">
        <label for="options">What mood are you in today? </label>
        <select id="options" name="options">
            <option value ="0">Select mood...</option>
            <option value ="1">Happy</option>
            <option value ="2">Sad</option>
            <option value ="3">Excited</option>
            <option value ="4">Relaxed</option>
            <option value ="5">Summer</option>
            <option value ="6">Winter</option>
            <option value ="7">Gangsta</option>
        </select>
        <button>Find songs</button>
    </div>
</section>
<section class="songsContainer">
  <div class="column">
    <div class="card">
      <img class="songCover" />
      <h3 class="title">Bohemian Rhapsody</h3>
      <h4 class="author">Author: Queen</h4>
      <p>Mood: Sad</p>
      <a href="#">Like song</a>
      <a href="#">Add to playlist</a>
    </div>
  </div>
  <div class="column">
    <div class="card">
      <img class="songCover" />
      <h3 class="title">Nothing else matters</h3>
      <h4 class="author">Author: Metallica</h4>
      <p>Mood: Sad</p>
      <a href="#">Like song</a>
      <a href="#">Add to playlist</a>
    </div>
  </div>
  <div class="column">
    <div class="card">
      <img class="songCover" />
      <h3 class="title">We are the champions</h3>
      <h4 class="author">Author: Queen</h4>
      <p>Mood: Sad</p>
      <a href="#">Like song</a>
      <a href="#">Add to playlist</a>
    </div>
  </div>
  <div class="column">
    <div class="card">
      <img class="songCover" />
      <h3 class="title">We are the champions</h3>
      <h4 class="author">Author: Queen</h4>
      <p>Mood: Sad</p>
      <a href="#">Like song</a>
      <a href="#">Add to playlist</a>
    </div>
  </div>

</section>

