<div class="wrapper">
<div class="login-box">
    <h1>Login</h1>
    <form class="login">
        <label>Email</label>
        <input type="text" ngModel required placeholder="Email.." name="email" value=>
        <label>Password</label>
        <input type="password" ngModel placeholder="Password.." name="password">
        <input type="submit" value="Login">
    </form>
    <p>Don't have an account yet? <a routerLink="/auth/register">Register here</a></p>
</div>
<div class="errorContainer">
    <p>Email is required!</p>
    <p>Please enter a valid email!</p>
    <p>Password is required!</p>
    <p>Password must be at least 6 characters!</p>
</div>
</div>