<div class="navigation">
<img src="../../../assets/M.png" alt="logo">
  <ul class="navbar">
        <!--All users-->
        <li class="left"><a href="/"> Home </a></li>
        <li class="left"><a href="/about"> About </a></li>
        <!--Logged in users-->
        <li class="left"><a href="#"> Browse songs </a></li>
        <li class="right"><a href="/profile"> Profile </a></li>
        <!--Guest users-->
        <li class="right"><a href="/login"> Login </a></li>
        <li class="right"><a href="/register"> Register </a></li>
    </ul>
</div>