.terms {
    font-family: Comic Sans MS, Comic Sans, cursive;
    margin-top: 47px;
    margin-bottom: 47px;
    width: 100%;
    height: auto;
    top: 47px;
    bottom: 47px;
    background-color: #b393d3;
    color: white;
}
h2 {
    text-align: center;
}
h1 {
    text-align: center;
}
p {
    padding: 0.5em;
}