.terms {
    position: relative;
    width: 100%;
    height: auto;
    font-family: Comic Sans MS, Comic Sans, cursive;
    background-color: #b393d3;
    color: white;
}
h2 {
    text-align: center;
}
h1 {
    text-align: center;
}
p {
    padding: 0.5em;
}