.wrapper {
    width: 100%;
    height: auto;
    margin-top: 47px;
    margin-bottom: 47px;
    font-family: Comic Sans MS, Comic Sans, cursive;
    background: linear-gradient(to bottom, turquoise, #b393d3, turquoise);
}
.register-box {
    color: white;
    width: 660px;
    height: auto;
    margin: auto;
    margin-top: 47px;
    background-color: #b393d3;
    border: 1px solid black;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, 
    rgba(0, 0, 0, 0.12) 0px -12px 30px, 
    rgba(0, 0, 0, 0.12) 0px 4px 6px, 
    rgba(0, 0, 0, 0.17) 0px 12px 13px, 
    rgba(0, 0, 0, 0.09) 0px -3px 5px;
  }
  
  .register-box h1 {
    text-align: center;
    padding-top: 15px;
  }
  
  .register-box h4 {
    margin-top: 10px;
    text-align: center;
  }
  
  .register-box form {
    width: 600px;
    margin-left: 20px;
  }
  
  .register-box form label {
    display: flex;
    margin-top: 20px;
    margin-bottom: 5px;
    font-size: 18px;
  }
  
  .register-box form input {
    width: 620px;
    height: 30px;
    padding-left: 7px;
    border: none;
    border: 1px solid gray;
    border-radius: 8px;
    outline: none;
  }
  
  .register-box form input[type="submit"] {
    width: 150px;
    height: 35px;
    margin-left: 230px;
    border: none;
    background-color: turquoise;
    color: white;
    font-size: 15px;
    cursor: pointer;
  }
  .register-box input[type="submit"]:hover {
    background-color: white;
    color: turquoise;
  }
  
  .register-box .error, p {
    color: white;
    text-align: center;
    margin-top: 5px;
    font-size: 15px;
  }
  
  .register-box p > a {
    color: white;
  }
  
  