<div id="wrapper">
<div class="about">
    <h1>About Moosic</h1>
    <p>We believe that it is music that rules the world. 
    We believe that music helps shape people's character, alters their mood and pushes them to take the next step.
    We created this site to help you find the song that will set your soul on fire.</p>
    <p>Grab your headphones and join us in this magnificent journey!</p>
</div>
<h2 class="values">What we stand for?</h2>
<div class="row">
  <div class="column">
    <div class="card">
      <img src="../../assets/aboutPage/loveMusic.jpg" alt="love" style="width:100%">
      <div class="container">
        <h2>We love music!</h2>
        <p class="title">Music can free you!</p>
        <p>“If I had my life to live over again, I would have made a rule to read some poetry and listen to some music at least once every week.”</p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <img src="../../assets/aboutPage/mood.jpg" alt="mood" style="width:100%">
      <div class="container">
        <h2>Music and Mood go hand in hand!</h2>
        <p class="title">Music can change your mood!</p>
        <p>"Music can change the world because it can change people."</p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <img src="../../assets/aboutPage/together.jpg" alt="together" style="width:100%">
      <div class="container">
        <h2>Music unite us!</h2>
        <p class="title">Music brings people together!</p>
        <p>"Music with all its subtlety has immense power to unite people, spread love and bring peace to the world."</p>
      </div>
    </div>
  </div>
</div>
</div>