<section id="user">
    <div class="user-info">
        <div class="user-logo">
            <img src={{user?.photo}}>
        </div>
        <h1 class="username">{{user?.username}}</h1>
    </div>
</section>
<section class="profile-songs">
    <div class="created-songs">
        <h2 class="section-title">Created Songs</h2>
        <div class="info">
            <h2 class="title">Bohemian Rhapsody</h2>
            <h4 class="author">Author: Queen</h4>
            <div class="see-more">
                <a href="/catalog/edit">Edit Song</a>
                <a href="#">See More...</a>
            </div>
        </div>

        <!-- If there are no created blogs
                    <h2 class="no-blog-in-profile">You haven't published a blog yet...</h2>
                -->
    </div>

    <div class="liked-songs">
        <h2 class="section-title">Liked Songs</h2>
        <div class="info">
            <h2 class="title">Nothing else matters</h2>
            <h4 class="author">Auhtor: Metallica</h4>
            <div class="see-more">
                <a href="#">See More...</a>
            </div>
        </div>
        <div class="info">
            <h2 class="title">Thunderstruck</h2>
            <h4 class="author">Author: AC/DC</h4>
            <div class="see-more">
                <a href="#">See More...</a>
            </div>
        </div>

        <!-- If there are no followed blogs
                <h2 class="no-blog-in-profile">You have no blogs followed yet…</h2>
                -->
    </div>
    <div class="playlists">
        <h2 class="section-title">Playlists</h2>
        <div class="info">
            <h2 class="title">Rock Playlist</h2>
            <h4 class="category">Category: Rock</h4>
            <div class="see-more">
                <a href="#">See More...</a>
            </div>
        </div>

        <!-- If there are no created blogs
                    <h2 class="no-blog-in-profile">You haven't published a blog yet...</h2>
                -->
    </div>

</section>
