<div class="footer">
      <ul class="footerBar">
            <li><a routerLink="/contact"> Contact us </a>
                <a routerLink="https://www.facebook.com/MoosicApp"><img src="../../../assets/socialMedia/fb.png"></a>
                <a routerLink="https://www.instagram.com/MoosicApp"><img src="../../../assets/socialMedia/insta.png"></a>
                <a routerLink="https://twitter.com/MoosicApp"><img src="../../../assets/socialMedia/twitter.png"></a></li>
            <li><a routerLink="/terms"> Terms of use </a></li>
        </ul>
    </div>
